[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 = "*"
beautifulsoup4 = "*"
requests = "*"
PyQt5 = "==5.14.1"
PyInstaller = "*"
pyqt5-stubs = "==5.13.1.4"
pyqt5-sip = "==12.7.1"

[requires]
python_version = "3.8"
