[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 = "==2.8.5"
beautifulsoup4 = "==4.9.0"
requests = "==2.23.0"
PyQt5 = "==5.14.2"
PyInstaller = {editable = true,git = "https://github.com/pyinstaller/pyinstaller.git",ref = "develop"}
PyQt5-sip = "==12.7.2"
idna = "==2.9"
setuptools = "==46.3.1"

[requires]
python_version = "3.8"
